body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Futura", sans-serif;
}

.calculator-container {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator-border {
  padding: 30px;
  border-radius: 45px;
  background-color: #0c1e31;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 16px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto);
}

.pushable {
  background: #143252;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  outline-style: none;
}

.front {
  display: block;
  padding: 10px 15px;
  border-radius: 35px;
  font-size: 1.5rem;
  background: #1d4986;
  color: #e4eff1;
  transform: translateY(-6px);
}

.equal-face {
  padding: 50px 15px;
}

.equal-back {
  display: inline-block;
  grid-row: span 2;
}

.zero {
  grid-column: span 2;
}

.pushable:active .front:active {
  transform: translateY(-4px);
  background: #1d498694;
}

.transform {
  transform: translateY(-4px);
  background: #1d498694;
}

#result {
  background-image: url(display.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding-top: 170px;
  margin-bottom: 15px;
  cursor: default;
  display: grid;
  grid-column: auto / span 4;
}

#output {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 3em;
}

#value {
  margin: 0 15px;
  padding: 0 auto;
  display: grid;
}

#value:empty:before {
  content: attr(placeholder);
}

p {
  font-family: "Segment7Standard", sans-serif;
  color: rgb(0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#author {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  font-size: 1rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  padding-bottom: 10px;
}
