body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.container {
  padding: 30px;
  border-radius: 45px;
  background-color: #0c1e31;
}
.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 80px));
  gap: 16px;
}

.pushable {
  background: #143252;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  outline-offset: 5px;
}
.front {
  font-family: "Futura", sans-serif;
  display: block;
  padding: 10px 15px;
  border-radius: 35px;
  font-size: 1.5rem;
  background: #1d4986;
  color: #e4eff1;
  transform: translateY(-6px);
}
.equal-face {
  padding: 50px 15px;
}

.equal-back {
  display: inline-block;
  grid-row: span 2;
}

.zero {
  grid-column: span 2;
}

.pushable:active .front {
  transform: translateY(-4px);
}

#result {
  background-image: url(display.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding-top: 140px;
  margin-bottom: 15px;
  cursor: default;
  grid-column: auto / span 4;
  grid-row: auto / span 8;
}

#output {
  font-family: "Segment7Standard", sans-serif;
  font-size: 5em;
  text-align: right;
  margin: 10px 10px;
  height: 70px;
}

#output-value {
  margin: 0 auto;
  padding: 0 auto;
  word-wrap: reverse;
}

#output-value:empty:before {
  content: attr(placeholder);
}

p {
  color: rgb(0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#author {
  display: flex;
  justify-content: center;
}

footer {
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  position: absolute;
  /* width: 100%; */
  text-align: center;
  bottom: 0;
  padding-bottom: 20px;
}
